anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
backports.functools-lru-cache
bcrypt
beautifulsoup4
bleach
Brotli
build==1.0.3
cached-property
certifi==2023.7.22
cffi
charset-normalizer
colorama
comm
copier
cryptography
debugpy
decorator
defusedxml
dunamai
entrypoints
exceptiongroup
executing
fastjsonschema
fqdn
funcy
idna
importlib-metadata
importlib-resources
ipykernel
ipython
isoduration
jedi
Jinja2
jinja2-ansible-filters
jinja2-time
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
overrides
packaging
pandocfilters
paramiko
parso
pathspec
pexpect
pickleshare
pkgutil_resolve_name
platformdirs
plumbum
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
pydantic
Pygments
PyNaCl
pyobjc-core
pyobjc-framework-Cocoa
pyproject_hooks==1.0.0
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyyaml-include
pyzmq
questionary
referencing
requests
# Editable Git install with no remote (researchbuddy==0.1.0)
-e /Users/justin/work/explore/ResearchBuddy
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
tinycss2
tomli
tornado
traitlets
types-python-dateutil
typing-utils
typing_extensions
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
zipp
